{% extends 'layouts/main-layout.html' %}

{% block content %}
    <div class="delete-form__container">
        <h2 class="delete-form__title">Are you sure?</h2>
        <p class="delete-form__caveat">Are you sure that you wanna delete Destino Turístico <b>'{{ destination.nombreCiudad }}'</b>?</p>
        <form class="delete-form" action="." method="POST">
            {% csrf_token %}
            <input class="delete-form__delete" type="submit" value="Delete">
            <a class="delete-form__cancel" href="/destinations">No, take me back</a>
        </form>
    </div>
{% endblock %}