{% extends 'layouts/main-layout.html' %}

{% load static %}

{% block content %}
    <section class="destinations-container">
        <h2 class="destinations__title">TravelEasy Administration</h2>
        <a class="destinations__create-btn" href="/destinations/create">
            <span>Add Destino Turístico</span>
            <img src="{% static 'images/creating.svg' %}" alt="Add Destino Turístico" width="25" height="25">
        </a>
        <label class="search-form__initializer" for="switchEnableSearch">
            <span class="search-form__initializer-message">¿Buscar en TravelEasy?:</span>
            <input class="search-form__initializer-mark" id="switchEnableSearch" type="checkbox">
        </label>
        <form class="search-form" id="searchForm" action="/destinations/search" method="GET"></form>
        <table class="destinations">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for destination in destinations %}
                <tr>
                    <td>
                        <a class="destinations__link" href="{{ destination.get_absolute_url }}">{{ destination }}</a=>
                    </td>
                    <td>
                        <a class="destinations__action-icon" href="{{ destination.get_absolute_url }}" title="View">
                            <img src="{% static 'images/detailing.svg' %}" alt="View" width="25" height="25">
                        </a>
                    </td>
                    <td>
                        <a class="destinations__action-icon" href="/destinations/{{ destination.id }}/edit" title="Edit">
                            <img src="{% static 'images/editing.svg' %}" alt="Edit" width="25" height="25">
                        </a>
                    </td>
                    <td>
                        <a class="destinations__action-icon" href="/destinations/{{ destination.id }}/delete" title="Delete">
                            <img src="{% static 'images/deleting.svg' %}" alt="Delete" width="25" height="25">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}