{% extends 'layouts/main-layout.html' %}

{% block content %}
    <article class="destination">
        <div>
            {% if user.is_staff %}
                <a class="destination__go-back" href="/destinations">Go back</a>
            {% else %}
                <a class="destination__go-back" href="/">Go back</a>
            {% endif %}
        </div>
        <div class="destination__img-container">
            <img class="destination__img" src="{{ destination.imagenCiudad.url }}" alt="{{ destination.nombreCiudad }}">
        </div>
        <h2 class="destination__header">
            <span class="destination__title">{{ destination.nombreCiudad }}</span> 
            {% if destination.ofertaTour %}
            <span class="destination__offer">En oferta</span>
            {% endif %}
        </h2>
        <strong class="destination__prizing">${{ destination.precioTour }}</strong>
        <p class="destination__description">{{ destination.descripcionCiudad }}</p>
    </article>
{% endblock %}  