* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --fs-xl: 2.25rem;
    --fs-lg: 1.75rem;
    --fs-regular: 1.25rem;
    --fs-md: 1.05rem;
    --fs-sm: 0.75rem;
}
.wrapper {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    padding: 1.75rem;
}
.header__title { 
    font-size: var(--fs-xl);
    text-align: center;
}

.navbar {
    background-color: #333;
}
.navbar__links {
    display: flex;
}
.navbar__link {
    padding: 1.2rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    transition: background 0.3s ease-out;
}
.navbar__link:hover {
    color: #000;
    background-color: #DDD;
}

.content-body { background-color:#F1F1F1; }
.main-content {
    min-height: 71.2vh;
    padding: 1.2rem 0;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 7fr 2fr;
}
.leftcolumn {
    padding: 1.2rem;
    background-color:#FFF;
}
.rightcolumn { background-color: #FFF; }

.profile-card { 
    padding: 1.2rem; 
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.profile-card__username {
    font-size: var(--fs-regular);
}
.profile-card__staff {
    display: inline-block;
    border-radius: 4px;
    padding: 0.25rem 0.45rem;
    font-size: var(--fs-sm);
    font-weight: bold;
    color: #FFF;
    background-color: royalblue;
}
.profile-card__logout {
    display: inline-block;
    border: 2px solid #DC3545;
    border-radius: 4px;
    padding: 0.45rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background-color: #DC3545;
    transition: background 0.3s ease-out;
}
.profile-card__logout:hover {
    border-color: #B02A37;
    background-color:#BB2D3B;
}

.login {
    font-size: var(--fs-lg);
}
/* Generic-Form */
.form {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.form__regular-input {

}
.form__submit-btn {
    border: 2px solid #3366CC;
    padding: 0.25rem;
    font-size: var(--fs-md);
    font-weight: bold;
    color: #FFF;
    background-color: #3366CC;
    cursor: pointer;
    transition: background 0.3s ease-out;
}
.form__submit-btn:hover {
    border-color: #447FF5;
    background-color: #447FF5;
}
/* /Generic-Form */

.footer {
    padding: 1.2rem;
    background-color: #DDD;
}
.footer__license {
    font-size: var(--fs-regular);
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}