* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --fs-xl: 2.25rem;
    --fs-lg: 1.75rem;
    --fs-regular: 1.25rem;
    --fs-md: 1.05rem;
    --fs-sm: 0.75rem;
}
.wrapper {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    padding: 1.75rem;
}
.header__title { 
    font-size: var(--fs-xl);
    text-align: center;
}

.navbar {
    background-color: #333;
}
.navbar__links {
    display: flex;
}
.navbar__link {
    padding: 1.2rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    transition: background 0.3s ease-out;
}
.navbar__link:hover {
    color: #000;
    background-color: #DDD;
}

.content-body { background-color:#F1F1F1; }
.main-content {
    min-height: 72.2vh;
    padding: 1.2rem 0;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 7fr 2fr;
}
.leftcolumn {
    padding: 1.2rem;
    background-color:#FFF;
}
.rightcolumn { background-color: #FFF; }

.profile-card { 
    padding: 1.2rem; 
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.profile-card__username {
    font-size: var(--fs-regular);
}
.profile-card__staff {
    display: inline-block;
    border-radius: 4px;
    padding: 0.25rem 0.45rem;
    font-size: var(--fs-sm);
    font-weight: bold;
    color: #FFF;
    background-color: royalblue;
}
.profile-card__logout {
    display: inline-block;
    border: 2px solid #DC3545;
    border-radius: 4px;
    padding: 0.45rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background-color: #DC3545;
    transition: background 0.3s ease-out;
}
.profile-card__logout:hover {
    border-color: #B02A37;
    background-color:#BB2D3B;
}

/* Generic-Form */
label {
    display: inline-block;
    margin-bottom: 0.25rem;
    font-size: var(--fs-md);
    font-weight: bold;
}
.form {
    margin-top: 0.75rem;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}
.form__title-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.form__title {
    width: max-content;
    border-bottom: 1px solid #000;
    padding: 0.25rem;
    font-size: var(--fs-lg);
}
.form__cancel {
    display: inline-block;
    border: 2px solid #DC3545;
    border-radius: 4px;
    padding: 0.45rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background-color: #DC3545;
    transition: background 0.3s ease-out;
}
.form__cancel:hover {
    border-color: #B02A37;
    background-color: #BB2D3B;
}
.form__regular-input {
    width: 100%;
    padding: 0.45rem;
    font-size: var(--fs-md);
}
.form__textarea {
    padding: 0.45rem;
    font-size: var(--fs-md);
}
.form__checkbox-input {
    width: 1.08rem;
    height: 1.08rem;
}

/* File-Input */
.form__file-input {
    width: 100%;
}
.form__file-input::-webkit-file-upload-button {
    display: none;
}
.form__file-input::before {
    content: 'Seleccionar archivo';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.form__file-input:hover::before {
    border-color: black;
}
.form__file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/* /File-Input */

.form__submit-btn {
    border: 2px solid #3366CC;
    border-radius: 4px;
    padding: 0.25rem;
    font-size: var(--fs-md);
    font-weight: bold;
    color: #FFF;
    background-color: #3366CC;
    cursor: pointer;
    transition: background 0.3s ease-out;
}
.form__submit-btn:hover {
    border-color: #447FF5;
    background-color: #447FF5;
}
/* /Generic-Form */

/* Delete-Form */
.delete-form__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.delete-form__title {
    width: max-content;
    border-bottom: 1px solid #000;
    padding: 0.25rem;
    font-size: var(--fs-lg);
}
.delete-form__caveat {
    font-size: var(--fs-regular);
}
.delete-form {
    display: flex;
    gap: 0.75rem;
    justify-content: start;
    align-items: center;
}
.delete-form__delete {
    border: none;
    border-radius: 4px;
    padding: 0.45rem;
    font-size: var(--fs-md);
    font-weight: bold;
    color: #FFF;
    background-color: #BA2121;
    cursor: pointer;
    transition: background 0.3s ease-out;
}
.delete-form__delete:hover {background-color: #a41515;}
.delete-form__cancel {
    border: none;
    border-radius: 4px;
    padding: 0.45rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background-color: #333;
    cursor: pointer;
    transition: background 0.3s ease-out;
}
.delete-form__cancel:hover {background-color: #666666;}
/* /Delete-Form */

/* Destination */
.destination {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.destination__links {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.destination__link {
    display: inline-block;
    border-radius: 4px;
    padding: 0.45rem;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    transition: background 0.3s ease-out;
}
.destination__link--go-back {
    border: 2px solid #007BFF;
    background-color: #007BFF;
}
.destination__link--go-back:hover {
    border-color: #0062CC;
    background-color: #0069D9;
}
.destination__link--edit {
    color: #000;
    border-color: #FFC107;
    background-color: #FFC107;
}
.destination__link--edit:hover {
    border-color: #FFC720;
    background-color: #FFCa2c;
}
.destination__link--delete {
    border-color: #DC3545;
    background-color: #DC3545;
}
.destination__link--delete:hover {
    border-color: #B02A37;
    background-color: #BB2D3B;
}
.destination__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination__img {
    width: 18rem;
    height: 18rem;
    border: 2px solid #000;
}
.destination__header {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.destination__title {
    border-bottom: 2px solid #000;
    font-size: var(--fs-lg);
    font-weight: bold;
}
.destination__offer {
    border-radius: 4px;
    padding: 0.25rem;
    font-size: var(--fs-sm);
    color: #FFF;
    background-color: #007BFF;
}
.destination__prizing {font-size: var(--fs-regular);}
.destination__description {font-size: var(--fs-md);}
/* /Destination */

/* Destinations */
.destinations-container {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.destinations__title {
    width: max-content;
    border-bottom: 1px solid #000;
    padding: 0.25rem;
    font-size: var(--fs-lg);
}
.destinations__create-btn {
    width: max-content;
    border-radius: 4px;
    padding: 0.45rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background-color: #333;
    transition: background 0.3s ease-out;
}
.destinations__create-btn:hover {background-color: #666666;}
.destinations {
    border-collapse: collapse;
    font-size: var(--fs-regular);
}
.destinations td, .destinations th {
    border: 1px solid #DDD;
    padding: 0.5rem 0.75rem;
}
.destinations tr:nth-child(even) {background-color: #F2F2F2;}
.destinations tr:hover {background-color: #DDD;}
.destinations th {
    text-align: center;
    color: #FFF;
    background-color: #04AA6D;
}
.destinations__link {
    font-size: var(--fs-md);
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.destinations__action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Destinations */

.footer {
    padding: 0.95rem;
    background-color: #DDD;
}
.footer__license {
    font-size: var(--fs-regular);
    font-weight: bold;
    text-align: center;
}

/* Messages */
.messages {
    position: absolute;
    top: 1.2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    list-style-type: none;
}
.messages__message {
    padding: 0.75rem;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
}
.messages__message--error {
    border: 2px solid #F5C6CB;
    color: #721C24;
    background-color: #F8D7DA;
}
.messages__closer {
    cursor: pointer;
}
/* /Messages */

/* Common-Error */
.common-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-error {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.common-error__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-error__img {
    width: 25rem;
    height: 25rem;
}
.common-error__details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.common-error__title {
    font-size: var(--fs-lg);
    font-weight: bold;
    text-align: center;
}
.common-error__content {
    font-size: var(--fs-regular);
    text-align: center;
}
/* /Common-Error */

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}