{% extends 'layouts/main-layout.html' %}

{% block content %}
    <section class="common-error-container">
        <section class="common-error">
            <div class="common-error__img-container">
                <img class="common-error__img" src="https://http.cat/401" alt="Not Allowed">
            </div>
            <div class="common-error__details">
                <h2 class="common-error__title">Forbidden</h2>
                <p class="common-error__content">Insufficient permissions</p>
            </div>
        </section>
    </section>
{% endblock %}