<nav class="navbar">
    <ul class="navbar__links">
        <a class="navbar__link" href="/">Home</a>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a class="navbar__link" href="/destinations">Destinations</a>
            {% endif %}
            <a class="navbar__link" href="#">{{ user.username }}</a>
            <a class="navbar__link" href="/auth/logout">Logout</a>
        {% else %}
            <a class="navbar__link" href="/auth/login">Login</a>
            <a class="navbar__link" href="/auth/signup">SignUp</a>
        {% endif %}
    </ul>
</nav>