{% extends 'layouts/main-layout.html' %}

{% block content %}
    <h2 class="form__title">SignUp</h2> 
    <form class="form" action="/auth/signup/" method="POST">
        {% csrf_token %}
        <input class="form__regular-input" type="text" name="first_name" placeholder="Enter your firstname">
        <input class="form__regular-input" type="text" name="last_name" placeholder="Enter your lastname">
        <input class="form__regular-input" type="text" name="username" placeholder="Enter your username">
        <input class="form__regular-input" type="email" name="email" placeholder="Enter your email address">
        <input class="form__regular-input" type="password" name="password" placeholder="Enter a password">
        <input class="form__regular-input" type="password" name="password_confirmation" placeholder="Enter password again">
        <input class="form__submit-btn" type="submit" value="SignUp">
    </form>
{% endblock %}