{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelEasy</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header class="header">
        <h1 class="header__title">TravelEasy Administration</h1>
    </header>
    {% include '../components/navbar.html' %}
    <section class="content-body">
        <section class="main-content wrapper">
            <main class="leftcolumn">
                {% block content %}
                {% endblock %}
            </main>
            <section class="rightcolumn">
                <aside class="profile-card">
                    <h3 class="profile-card__username" >{{ user.username }}</h3>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    {% if user.is_staff %}
                    <div>
                        <span class="profile-card__staff">Staff</span>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <div>
                            <a class="profile-card__logout" href="/auth/logout">Logout</a>
                        </div>
                    {% endif %}
                </aside>
            </section>
        </section>
    </section>
    <footer class="footer">
        <p class="footer__license">This page is under the MIT license</p>
    </footer>
    {% include '../components/messages.html' %}
</body>
</html>